/****************** GENERAL *******************/
:root {
  --dark-grey: #484838;
  --light-grey: #ADAC9A;
  --light-green: #E0E484;
  --dark-green: #8A9900;
  --light-background: #FAFAF0;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  color: var(--dark-grey);
}

h1 {
  padding: 20px 40px 5px 40px;
  font-size: 2rem;
}

h2 {
  padding: 20px 0 20px 0;
  font-size: 1.75rem;
}

/****************** HEADER *******************/
.name-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  background-color: var(--light-background);
  width: 100%;
  position: fixed;
  height: 165px;
  z-index: 5;
  border-bottom: 5px solid var(--dark-grey);
}

.name-section img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px var(--dark-grey);
  margin-left: 40px;
}

.name-section-text {
  display: flex;
  flex-direction: column;
}

.job-title {
  padding: 0 40px 10px 40px;
  font-size: 1.25rem;
}

/* Contact Info */
.contact-icon-container {
  padding: 0 40px 20px 40px;
}

.contact-icon-container a {
  text-decoration: none;
}

.contact-icon-container i {
  font-size: 1.5rem;
  padding-right: 10px;
}

.contact-icon-container i:hover {
  color: var(--dark-green)
}

/* Navigation */
.navigation {
  margin-left: auto;
}

.navigation a {
  text-decoration: none;
  color: var(--dark-green);
  font-size: 1.2rem;
}

.navigation li {
  padding: 5px 30px;
  margin-right: 20px;
  list-style: none;
  color: var(--dark-green);
}

.active-link,
.navigation li:hover {
  background-color: var(--dark-grey);
  border-radius: 5px;
}

/****************** BODY SECTIONS *******************/
.first-section {
  padding-top: 210px !important;
  display: block;
}

.individual-education a {
  text-decoration: none;
}

.individual-education a:hover {
  color: var(--dark-green);
}

.individual-education ul {
  padding-bottom: 20px;
}

.individual-education li {
  font-size: 1.15rem;
  list-style-position: inside;
}

.individual-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0;
  border-bottom: 5px solid var(--light-background);
}

.individual-project:first-child {
  padding-top: 0;
}

.individual-project:last-child {
  border-bottom: none;
}

.project-description {
  padding: 10px 0;
}

.project-image {
  width: 550px;
  height: 310px;
  overflow: hidden;
  border: 8px solid var(--dark-grey);
  border-radius: 10px;
}

.project-tags {
  font-weight: bold;
}

.project-text {
  padding: 0 20px;
}

.project-text a {
  text-decoration: none;
  color: var(--dark-grey);
  background-color: var(--dark-green);
  padding: 5px;
  border-radius: 5px;
}

.project-text a:hover {
  color: var(--light-background);
}

.project-title {
  font-weight: bold;
  font-size: 1.5rem !important;
}

.project-title-spacing {
  margin-right: 10px;
}

.section p {
  padding-bottom: 20px;
  font-size: 1.15rem;
}

.section p.bold {
  font-weight: bold;
  padding-bottom: 0;
}

.summary-inside-container, 
.projects-inside-container {
  height: 100%;
  background-color: var(--light-green);
  padding: 0 40px;
}

.projects-inside-container { 
  border-top: 15px double var(--light-background);
}

.education-inside-container, 
.footer-inside-container {
  height: 100%;
  background-color: var(--light-background);
  padding: 0 40px;
  border-top: 15px double var(--light-green);
}

section::before {
  display: block;
  content: " ";
  margin-top: -200px;
  height: 200px;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 875px) {
  .individual-project {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .project-title {
    padding-top: 20px;
  }
  .individual-project {
    padding: 40px 40px;
  }
}
/****************** FOOTER *******************/
.footer-inside-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}